* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin:0;
    padding:0;
}

header {
    display:flex;
    justify-content: center;
    height: 120px;
}
.container {
    width: 990px;
    display:flex;
    justify-content: space-between;
}
.logo {
    display:flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display:flex;
}
nav a {
    display: block; /* para que consiga alterar tamanhos e etc */
    padding:15px;
    text-decoration: none;
    text-transform: uppercase; 
    color:#727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav .active a,
nav a:hover {
	background-color:#39aae1;
	color:#FFFFFF;
}
#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/img1.jpg'); /*o .. é para voltar uma pasta atrás*/
    background-position: center;
    background-size:cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color:#FFFFFF;
    font-size:70px;
    text-shadow: 0 1 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color:#FFFFFF;
    font-size:21px;
    text-shadow: 0 1 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {    
    height: 210px; /* Somente o banner options com altura fixa pois o restante engloba o texto e com display flex column ele se enquadra automat*/
    display:flex ;  
}
.banner1, .banner2, .banner3 {
    flex:1;
    color: #FFFFFF;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 21px;
    text-decoration: none;
}
.banner_desc {
    font-size:12px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.banner_options a {
    border: 1px solid #FFFFFF;
    display: inline-block; /* para acompanhar o tamanho do texto */
    padding: 5px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;

}
.atendimento {
    display:flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px 0px 5px 0px;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside {
    flex:1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size:21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
._block {
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
    margin: 7px;
}
._block a{
    text-decoration: none;
}
.widget_appointment {
    display:flex;
    flex-direction: column;
}
.widget_appointment_text {
    font-size:15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.widget_appointment_contact {
        font-size:15px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #000000;
        padding-bottom: 10px;
}
article {
    flex:1;
}
article .news_data {
    display:flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color:#FFFFFF;
    font-size:12px;
    padding:10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color:#FFFFFF;
    font-size:12px;
    padding:10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size:23px;
}
article .news_resume {
    font-size: 14px;
    line-height: 20px;
    color: #5C5C5C;
    margin-bottom: 30px;
}
article a{

    text-decoration: none;
}
.widget_body {
    display:flex;
    flex-wrap: wrap;
}
article {
    min-width: 300px;
    margin-right: 20px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
    flex:1;
}
.footer_menu a{
    display: block;
    padding: 20px;
    text-decoration:none;
}
.fm1, .fm2, .fm3 {
    flex:1;
    color:#FFFFFF;
    padding:20px;
}
.fm1 {
    background-color: #39aae1;
}
.fm2 {
    background-color: #0079c7;
}
.fm3 {
    background-color: #2b4c99;
}
.footer_area {
    display:flex;
}
.footer_area_item {
    flex:1;
    color:#FFFFFF;
    padding: 20px;
}
.flexcolumn {
    flex-direction: column;
}
footer .widget_title_text {
    color:#FFFFFF;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
}
.footer_menu_title h1 {
    font-size: 21px;
    color: #FFFFFF;
    justify-content: center;
}
.footer_menu_text {
    font-size: 12px;
    color: #FFFFFf;
}

.banner_fm_title {
    font-size: 21px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
.banner_fm_desc {
    font-size: 12px;
    color:#FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.end_widget_title {
    color: #5c5c5c;
    font-size:12px;
    padding: 20px;
}
.end_widget_text {
    color: #5c5c5c;
    font-size:12px;
    display: flex;
    border-bottom: 1px solid #36a9e1;
    justify-content: space-between;
    padding: 5px;
}
.end_widget_text_2 {
    display: flex;
    color: #5c5c5c;
    font-size:12px;
    justify-content: space-between;
    border-bottom: 1px solid #36a9e1;
}
.end_text_post {
    font-size: 14px;
    margin-left: 20px; 
}
.adress {
    font-size: 11px;
    color:rgb(35, 50, 189);
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 20px;
}
.end_text_twitts {
    font-size: 14px;
    color:#5c5c5c;
    margin-left: 20px;
    text-decoration: none;
}
.adress2 {
    font-size: 11px;
    color:rgb(35, 50, 189);
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 20px;
}

.menuMobile {
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mmline {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width:600px) {
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        padding: 20px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
        padding: 20px;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    } 

    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
